<div class="results-table">
  <h4 class="display-4">{{caption}}</h4>
  <div class="row">
    <div class="col-8 mb-2 d-flex align-items-end">

      <!-- Search input and Reset button -->
      <input
        [(ngModel)]="searchKeyword"
        type="text"
        class="form-control form-control-sm"
        id="searchBar"
        aria-describedby="searchBar"
        placeholder="Search for a Repo">
      <button type="button" class="btn btn-danger btn-sm ml-3 btn-reset" (click)="onReset()">Reset</button>
    </div>
  </div>

  <!-- Results table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"> Date Created
        <i class="fa fa-fw"
           [ngClass]="{'fa-sort': (!columnToSort || columnToSort == 'last_commit_date'),
                       'fa-sort-up': (columnToSort && columnToSort != 'last_commit_date' && !isDescSort),
                       'fa-sort-down': (columnToSort && columnToSort != 'last_commit_date' && isDescSort)}"
           (click)="onSort('created_at')">
        </i>
      </th>
      <th scope="col"> Last Commit
        <i class="fa fa-fw"
           [ngClass]="{'fa-sort': (!columnToSort || columnToSort == 'created_at'),
                       'fa-sort-up': (columnToSort && columnToSort != 'created_at' && !isDescSort),
                       'fa-sort-down': (columnToSort && columnToSort != 'created_at' && isDescSort)}"
           (click)="onSort('last_commit_date')">
        </i>
      </th>
    </tr>
    </thead>
    <tbody>

    <!-- Search results  -->
    <tr *ngFor="let record of data | searchFilter: searchKeyword | orderBy: {column: columnToSort, isDesc: isDescSort}">
      <!-- Filter out columns -->
      <ng-container *ngFor="let key of keys">
        <!-- Format if the column displays a date -->
        <td *ngIf="key === 'created_at' || key === 'last_commit_date' else tmpText"> {{record[key] | date:'medium' }} </td>
        <ng-template #tmpText> {{record[key]}} </ng-template>
      </ng-container>
    </tr>

    </tbody>
    <p *ngIf="cachedAt">Cached at: {{cachedAt | date:'medium' }}</p>
  </table>
</div>
