<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    EcoSafe Challenge
  </a>

  <button class="navbar-toggler" type="button"
          (click)="openMobileNavMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Data toggle for collapsed menu in mobile-->
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': showMobileNavMenu }">

    <!-- Navbar items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Search Git Repo</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn-cache" routerLink="/cache">View Cached</a>
      </li>
    </ul>
  </div>
</nav>
