<div class="mt-5">
  <!-- Show spinner if results are still loading -->
  <ng-container *ngIf="loading; else tmpTable">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>

  <!-- Results table -->
  <ng-template #tmpTable>
    <app-table
      [caption]="viewingCached ? 'Cached Data' : 'Git Repos'"
      [keys]="gitKeys"
      [data]="gitData"
      [cachedAt]="cachedAtDate"
    >
    </app-table>
  </ng-template>
</div>
